
/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}


/*------------------
Header section
 ---------------------*/

 .header-section {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	padding: 0 53px;
	background: rgba(0, 0, 0, 0.7);
	z-index: 999;
}

.header-section.header-bg-2 {
	background: rgba(34, 34, 34, 0.83);
}
.header-nav {
	text-align: right;
	padding-top: 35px;
}
.site-logo {
	float: left;
	display: inline-block;
	padding: 30px 0;
}


.main-menu {
	display: inline-block;
	padding-right: 30px;
}

.main-menu li {
	display: inline-block;
	position: relative;
}

.main-menu li a {
	display: block;
	font-size: 16px;
	color: #ffffff;
	font-family: "Lato", sans-serif;
	padding: 0 1px 5px;
	border-bottom: 2px solid transparent;
	margin-right: 45px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.main-menu li a:hover,
.main-menu li a.active {
	border-bottom: 2px solid #ff000a;
	text-decoration:none;
}

.main-menu li:hover>.sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 20px;
}

.main-menu .sub-menu {
	position: absolute;
	list-style: none;
	width: 220px;
	left: 0;
	top: 100%;
	text-align: left;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	background: #fff;
	z-index: 99;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.15);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.15);
}

.main-menu .sub-menu::before {
	position: absolute;
	content: "";
	left: 15px;
	top: -7px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 7px solid #fff;
}

.main-menu .sub-menu:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 20px;
	left: 0;
	top: -20px;
}

.main-menu .sub-menu li {
	display: block;
}

.main-menu .sub-menu li a {
	display: block;
	color: #000;
	margin-right: 0;
	padding: 5px 20px;
	border-bottom: none;
}

.main-menu .sub-menu li a:hover {
	color: #ff000a;
}
.slicknav_menu {
	display: none;
}
/* ----------------
第一部分完
 ---------------------*/









/* ----------------
Responsive
 ---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.section-title h2,
	.about-text h2 {
		font-size: 65px;
	}
	.header-input{
		display: none;
	}
	.main-menu li a {
		margin-right: 20px;
	}
	
	.about-widget {
		margin-right: 15px;
	}
	.search-result-map {
		height: 600px;
	}
	.search-results {
		padding: 55px 30px 90px;
	}
	
	.contact-text {
		padding-right: 40px;
	}
	.blog-item.feature-blog .blog-text {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.blog-item.feature-blog h4 {
		margin-bottom: 15px;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-section {
		padding: 0 15px;
	}
	.main-menu {
		padding-right: 15px;
	}
	.header-input{
		display: none;
	}
	.main-menu li a {
		margin-right: 15px;
	}
	.header-right .register {
		min-width: 110px;
		margin-left: 10px;
	}
	.about-text {
		margin-top: 40px;
	}
	.hero-warp {
		padding: 25px 30px 29px;
	}
	.search-type label {
		margin-right: 5px;
	}
	.search-type .st-item input:checked+label {
		padding: 11px 15px;
	}
	.section-title h2,
	.about-text h2 {
		font-size: 55px;
	}
	.loan-form {
		display: block;
		text-align: center;
		padding: 0 50px;
	}
	.loan-form input {
		margin-bottom: 30px;
	}
	.about-widget {
		border-right: none;
	}
	.about-widget .aw-text {
		max-width: 100%;
	}
	.footer-widger h2 {
		padding-top: 0;
	}
	.page-top-section {
		height: auto;
		padding-bottom: 80px;
	}
	.sell-section {
		padding: 0 20px;
	}
	.search-result-map {
		height: 600px;
	}
	.sidebar {
		padding-top: 50px;
	}
	.contact-text {
		padding-right: 0;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.header-section {
		padding: 0 15px;
	}
	.header-input{
		display: none;
	}
	.site-logo {
		padding: 26px 0;
	}
	.header-nav {
		display: none;
	}
	.slicknav_menu {
		padding: 0;
		display: block;
		background: transparent;
	}
	.slicknav_menu .header-right-warp {
		padding: 10px 0;
		padding-right: 10px;
		border-bottom: 1px solid #111;
		text-align: right;
	}
	.slicknav_menu .header-right .login {
		border-bottom: none;
	}
	.slicknav_menu .header-right .register {
		margin-left: 0;
	}
	.slicknav_menu .header-right a:hover {
		background: transparent;
		color: #fff;
	}
	.slicknav_btn {
		background: #616161;
		margin-top: 29px;
	}
	.slicknav_nav {
		background: #22242b;
		margin-bottom: 30px;
	}
	.slicknav_nav a {
		margin: 0;
		padding: 10px 20px;
		border-bottom: 1px solid #111;
	}
	.slicknav_nav a:hover {
		color: #ff000a;
		border-radius: 0;
		background: #0b0e25;
	}
	.slicknav_nav .slicknav_row {
		padding: 10px 20px;
		margin: 0;
	}
	.slicknav_row a {
		border-bottom: none;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #0b0e25;
	}
	.slicknav_parent.slicknav_open {
		background: #0b0e25;
		color: #ff000a;
	}
	.hero-section {
		height: auto;
		padding-top: 250px;
		padding-bottom: 100px;
	}
	.hero-warp {
		padding: 25px 20px 29px;
	}
	.about-text {
		margin-top: 40px;
	}
	.search-type label {
		margin-right: 5px;
	}
	.search-type .st-item input:checked+label {
		padding: 11px;
	}
	.search-input {
		display: block;
	}
	.search-input input,
	.search-input.si-v-2 input {
		width: 100%;
		padding: 0 20px;
		margin-bottom: 20px;
	}
	.section-title h2,
	.about-text h2 {
		font-size: 45px;
	}
	.loan-section {
		padding: 0 15px;
	}
	.loan-form {
		display: block;
		text-align: center;
		padding: 0 15px;
	}
	.loan-form input {
		margin-bottom: 30px;
	}
	.about-widget {
		border-right: none;
	}
	.about-widget .aw-text {
		max-width: 100%;
	}
	.footer-widger h2 {
		padding-top: 0;
	}
	.copyright {
		text-align: center;
	}
	.page-top-section {
		height: auto;
		padding-bottom: 80px;
	}
	.search-input.si-v-2 {
		margin-bottom: 0;
	}
	.search-input.si-v-2 .site-btn {
		margin: 0 25px 25px 0;
	}
	.search-results {
		padding: 55px 30px 90px;
	}
	.search-results .filter-btn li {
		margin-right: 10px;
	}
	.search-result-map {
		height: 500px;
	}
	.sidebar {
		padding-top: 50px;
	}
	.contact-text {
		padding-right: 0;
	}
	.sell-section {
		padding: 0 15px;
	}
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.section-title h2,
	.about-text h2 {
		font-size: 38px;
	}
	.search-type label:after {
		display: none;
	}
	.section-title p {
		padding: 25px 0 10px;
	}
	.about-widget {
		margin-right: 0;
	}
	.site-btn.sb-big {
		padding: 21px 25px;
	}
	.search-results {
		padding: 55px 15px 90px;
	}
	.search-results .filter-btn li {
		margin-right: 0;
	}
	.property-info-bar {
		padding: 11px 15px 13px;
	}
	.loan-calculator {
		padding: 30px 15px 25px;
	}
	.contact-form {
		padding: 50px 20px;
	}
	.contact-form .site-btn {
		min-width: auto;
	}
}